 #full-nav{
    background-color:#F85559;
}
.search-here i{
     position: relative;
     top: 10;
     right: 3rem;
}
#shop-btn{
     background-color: #F85559;
     color: white;
}
 radio{
     background-color: #F85559;
}

 @media screen and (max-width:576px) {
     #logo{
          margin-left: -455px;}

      #logo-text{
          color: black;
      }    
     #hidden{
          margin-right: -300px;
     }
     #full-nav{
          background-color: white;
     }
     #deal-day{
          max-width: 450px;
          flex-direction: column;
          text-align: center;
     }
     #time{
          padding-top: 20px;
          padding-left: 90px;
     }
    #last{
       max-width: 480px;
    }
    #last-text{
       font-size: 12px;
    }
  
} 